.news {
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 0 24px;
    overflow: hidden;
    >p {
        font-size: 14px;
        color: #666666;
        i {
            color: #151515;
        }
    }
    .title {
        background: url(../img/Artboard.png);
        background-position: 0 -185px;
        width: 115px;
        height: 38px;
        margin: 0 auto;
    }
    .subtitle {
        height: 38px;
        text-align: center;
        font-size: 28px;
        color: #F3B714;
        margin-bottom: 55px;
    }
    .news_list {
        li {
            overflow: hidden;
            border-bottom: 1px dashed #E4DBD5;
            padding: 22px 0;
        }
        h4 {
            font-size: 18px;
            color: #999999;
            float: left;
            margin-right: 57px;
            span {
                float: left;
                display: block;
                width: 9px;
                height: 9px;
                background: #999999;
                margin-top: 7px;
                margin-right: 8px;
            }
        }
        h3 {
            float: left;
            max-width: 1012px;
        }
        h3 a {
            font-size: 18px;
            color: #666666;
        }
        h3 a:hover {
            color: #F3B714;
        }
    }
    .btn {
        border: 2px solid #666666;
        width: 149px;
        height: 43px;
        display: block;
        line-height: 43px;
        box-sizing: border-box;
        float: right;
        margin-top: 24.5px;
        color: #666666;
        padding: 0 14px;
        span {
            display: inline-block;
            width: 19px;
            height: 17px;
            background: url(../img/Artboard.png);
            background-position: 0 -518px;
            float: right;
            margin-top: 13px;
        }
    }
}

.footer {
    background: #22252D;
    font-size: 20px;
    color: #FFFFFF;
    height: 112px;
    line-height: 112px;
    text-align: center;
}

// @font-face {
//     font-family: '_.pingfang_scmedium';
//     src: url('pingfang_jianti-webfont.woff2') format('woff2'),
//          url('pingfang_jianti-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
