  body {
     max-width: 1920px;
     margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .activeVideos {
    border-bottom: 4px solid #666;
  }
  .activeIdol {
    border-bottom: 4px solid #0092D1;
  }
  .header {
    position: fixed;
    top: 0;
    border-top-width: 4px;
    border-top-style: solid;
    border-image: linear-gradient(90deg, #FD4F66 2%, #E34079 22%, #910FB5 44%, #6451CC 64%, #00E5FF 85%, #00AFC4 100%) 30 30;
    width: 100%;
    overflow: hidden;
    // max-width: 1914px;
    box-sizing: border-box;
    height: 80px;
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(208,208,208,0.50);
    z-index: 1;
    background: #fff;
    >.header_content {
      max-width: 1120px;
      margin: 0 auto;
      overflow: hidden;
    }
    .logo {
      float: left;
      width: 56px;
      height: 56px;
      display: block;
      margin-right: calc(23.5px/2);
      background: url(../images/index.png);
    }
    ul {
      float: left;
      color: #fff;
      li {
        float: left;
        height: 56px;
        line-height: 56px;
        font-size: 20px;
        padding: 0 calc(23.5px/2);
      }
    }
     .language {
      float: right;
      border: 1px solid #FC4083;
      border-radius: 100px;
      width: 145px;
      overflow: hidden;
      margin-top: 10px;
      a {
        color: #FC4083;
        float: left;
        display: block;
        line-height: 26px;
        height: 26px;
        margin: 2px;
        text-align: center;
        &:first-child {
          width: 60px;
        }
        &:last-child {
          width: 137px-60px;
        }
      }
      a.active {
        background: #FC4083;
        border-radius: 100px;
        color: #fff;
      }
     }
  }
  .footer {
    background: #3A525C;
    padding: 34px 0 0;
    >* {
      max-width: 1120px;
      margin: 0 auto;
      text-align: center;
    }
    a {
      color: #fff;
    }
    .links {
      overflow: hidden;
      margin-bottom: 26px;
      .logo {
        background-image : url(../images/index.png);
        display: block;
        float: left;
        width: 103px;
        height: 60px;
        font-size: 24px;
        line-height: 60px;
        padding-left: 64px;
      }
      .facebook,.twitter {
        float: right;
        width: 51px;
        height: 51px;
        background-image : url(../images/index.png);
        background-position: 0 -3224px;

      }
      .twitter {
        margin-right: 43.2px;
        background-image : url(../images/index.png);
        background-position: 0 -3164px;
      }
    }
    ul {
      overflow: hidden;
      li {
        float: left;
        // display: inline-block;
        &:not(:first-child) {
          margin-left: 59px;
        }
        a {
          display: block;
          width: 104px;
          height: 28px;
          line-height: 28px;
          padding-left: 24px;
          background-image: url(../images/index.png);
          background-position: 0 -1618px;
          text-align: left;
        }
      }
    }
    .desc {
      color: #fff;
      margin-top: 20px;
      margin-bottom: 0;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
      overflow: hidden;
      a {
        display: inline-block;
        float: left;
      }
      &:last-child {
        padding-bottom: 30px;
      }
    }
    .desc2 {
      color: #fff;
      text-align: left;
      line-height: 40px;
      font-weight: 400;
      font-size: 13px;
    }
  }
  .main {
    text-align: center;
    position: fixed;
    top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 80px);
  }
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FC4083;
    -webkit-box-shadow: inset 0 0 8px #FC4083;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #FC4083;
}
::-webkit-scrollbar-track-piece {
  width: 6px;
}
::-webkit-resizer {
  width: 6px;
}