.titles {
    font-size: 26px;
    color: #00B4BC;
    letter-spacing: 6.93px;
    height: 36px;
      line-height: 36px;
      position: relative;
      width: 398px;
      margin: 0 auto;
      margin-bottom: 22px;
      border-bottom: 6px solid #ff8500;
      span {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 12px;
      }
      i {
        position: absolute;
        display: block;
        width: 120px;
        height: 6px;
        left: 50%;
        top: 35px;
        background: #ff8500;
        opacity: 0.5;
        margin-left: -30px;
      }
  }
  .desc {
    margin-bottom: 52px;
    font-size: 20px;
    color: #FC4083;
  }
.banner {
  width: 100%;
  height: calc(100vw * 558px / 1920px);
  max-height: 558px;
  background-color: #6E4756;
  img {
    display: block;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
}
.product_description {
  padding: 30px 0;
  background: #F5FFFF;
  padding-bottom: 80px;
  >* {
    max-width: 1200px;
    margin: 0 auto;
  }
  h4 {
    margin-bottom: 52px;
  }
  .features {
    position: relative;
      height: 469px;
      width: 553px;
      margin: 0 auto;
      img {
        width: 100%;
        display: block;
      }
    p {
      position: absolute;
      font-size: 16px;
      color: #787878;
      line-height: 24px;
      width: 388px;
      text-align: left;
    }
  }

}
.joinUs {
  background: #4CC0C4;
  padding: 60px 0 169px;
  position: relative;
  >span {
    position: absolute;
  }
  >span:first-child {
    width: 200px;
    height: 150px;
    bottom: 0;
    left: 50%;
    margin-left: -750px;
      background-image: url(../images/index.png);
      background-position: 0 -1649px;
  }
  >span:nth-child(2) {
    width: 200px;
    height: 21px;
    bottom: 120px;
    left: 50%;
    margin-left: -540px;
      background-image: url(../images/index.png);
      background-position: 0 -1323px;
  }
  >span:nth-child(3) {
    width: 200px;
    height: 33px;
    bottom: 70px;
    left: 50%;
    margin-left: 520px;
      background-image: url(../images/index.png);
      background-position: 0 -1389px;
  }
  h2,h4 {
      color: #fff;
  }
  .idol_recruit {
    position: relative;
    span:first-child {
      display: inline-block;
      height: 134.4px + 4px + 5px;
      width: 241px + 41px;
      background-image: url(../images/index.png);
      background-position: 0 -1168px;
    }
    span:last-child {
      position: absolute;
      left: 50%;
      top: 75px;;
      width: 58px;
      height: 21px;
      margin-left: 400px;
      background-image: url(../images/index.png);
      background-position: 0 -1323px;
    }
  }
  .join_way {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 38px;
    position: relative;
    >span {
      position: absolute;
      left: 50%;
      top: 15px;
      margin-left: 400px;
      width: 110px;
      height: 79px;
      background-image: url(../images/index.png);
      background-position: 0 -3293px;
    }
    .left,.right {
      float: left;
      padding-top: 60px;
    }
    .left {
      width: 50%;
    }
    h2 {
      font-size: 24px;
      height: 36px;
      line-height: 36px;
      position: relative;
      width: 408px;
      margin: 0 auto;
      margin-bottom: 6px;
      border-bottom: 6px solid #FC4083;
      span {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 12px;
      }
    }
    h4 {
      font-size: 18px;
    }
    .right {
      background: #FFFFFF;
      border: 7px solid #94D8DB;
      color: #00B4BC;
      padding: 21px 31px;
      width: 458px;
      text-align: left;
      box-sizing: border-box;
      h3 {
        font-size: 24px;
        padding-bottom: 14px;
        border-bottom: 1px solid #00B4BC;
      }
      .recruit_condition {
        overflow: hidden;
        font-size: 20px;
        // font-weight: 600;
        padding: 24px 0;
        .condition_left {
          float: left;
          margin-right: 29px;
        }
        .condition_right {
          float: left;
          li {
            padding-left: 47px;
            background-image: url(../images/index.png);
            background-position: 7.5px -1545px;
            &:not(:first-child) {
              margin-top: 16px;
            }
          }
        }
      }
      .contact_email {
        span:first-child {
          background: #00B4BC;
          border-radius: 41px;
          display: inline-block;
          width: 69px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          margin-right: 43px;
          color: #fff;
        }
        span:last-child {
          font-size: 25px;
          color: #FC4083;
        }
      }
    }
  }
  p {
    text-align: left;
    max-width: 810px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 14px;
  }
}
.videos {
  position: relative;
  background: #FFF6FA;
  padding: 42px 0 58px;
  >span {
    position: absolute;
  }
  >span:first-child {
      left: 50%;
      top: 90px;
      width: 58px;
      height: 21px;
      margin-left: 550px;
      background-image: url(../images/index.png);
      background-position: 0 -1353px;
  }
  >span:nth-child(2) {
      left: 50%;
      top: 750px;
      width: 58px;
      height: 21px;
      margin-left: -750px;
      background-image: url(../images/index.png);
      background-position: 0 -1353px;
  }
  >span:nth-child(3) {
      left: 50%;
      top: 0;
      width: 140px;
      height: 70px;
      margin-left: 580px;
      background-image: url(../images/index.png);
      background-position: 0 -2120px;
  }
  >span:nth-child(4) {
      left: 50%;
      bottom: 0;
      width: 169px;
      height: 100px;
      margin-left: 500px;
      background-image: url(../images/index.png);
      background-position: 0 -1886px;
  }
  h2 {
    color: #FB0730;
    letter-spacing: 0;
    width: 100px;
    border-bottom: 6px solid #FFD300;
    span {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      top: 12px;
    }
  }
  h4 {
    color: #00B4BC;
  }
  .videos_list {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    li {
      float: left;
      padding-bottom: 42px;
      text-align: left;
      &:not(:nth-child(3n - 2)) {
        margin-left: 54px;
      }
      a {
        display: block;
        img {
          width: 360px;
          height: 202.5px;
          margin-bottom: 17px;
          display: block;
        }
        .video_title {
          font-size: 20px;
          color: #00B4BC;
        }
        .video_desc {
          font-size: 16px;
          color: #666666;
        }
      }
    }
  }
  .more_video {
    width: 229px;
    height: 69px;
    line-height: 61px;
    padding-left: 61px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 4px solid #FB0730;
    font-size: 26px;
    color: #FB0730;
    background-image: url(../images/index.png);
    background-position: 43px -1570px;
  }
}
.company_profile {
  background-color: #64BDE3;
  padding: 58px 0 70px;
  color: #fff;
  position: relative;
  // >span {
  //   position: absolute;
  //   left: 50%;
  //   top: 0;
  //   width: 163px;
  //   height: 100px;
  //   background-image: url(../images/index.png);
  //   background-position: 0 -2252px;
  //   margin-left: - 700px;
  // }
  h2 {
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 22px;
    border-color: #277597;
      width: 180px;
    span {
      // margin-left: -89px;
    }
  }
  p {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 67px;
  }
  .company_desc {
    overflow: hidden;
    max-width: 1120px;
    margin: 0 auto;
    span {
      float: left;
      background-image: url(../images/index.png);
    }
    span:first-child {
      width: 445px;
      height: 435px;
      background-position: 0 -2390px;
    }
    span:last-child {
      float: right;
      width: 529px;
      height: 240px;
      background-position: 0 -2860px;
      margin-top: 95px;
    }
  }
}
@media screen and (max-width: 980px) {
  .videos .videos_list {
    max-width: 1200px;
    li {
      &:not(:nth-child(3n - 2)) {
        margin-left: 30px;
      }
      a {
        width: 300px;
        img {
          width: 100%;
        }
      }
    }
  }
  .product_description .features {
    width: 380px;
    p {
      width: 250px;
    }
    p:nth-child(2) {
        left: -260px !important;
        top: 100px !important;
    }
    p:nth-child(3) {
        left: -230px !important;
        bottom: 100px !important;
    }
    p:nth-child(4) {
        right: -140px !important;
        top: 0px !important;
    }
    p:nth-child(5) {
        right: -280px !important;
        top: 90px !important;
    }
    p:nth-child(6) {
        right: -280px !important;
        bottom: 120px !important;
    }
  }
}
