    .header {
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 43px;
        img {
            position: absolute;
            left: 12px;
            width: 22px;
            padding: 10.5px 5px;
        }
    }
    .header.ios {
        padding-top: 22px;
    }
    .content {
        background: #eee;
    }
    .content.ios {
        height: calc(100vh - 66px);
        top: 66px;
    }
    i {
        text-align: right;
    }
    .comment_info {
        .avatar {
            width: 40px;
            height: 40px;
        }
    }
    .name {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        max-width: calc(100vw - 140px);
    }
    .Lheight {
        line-height: 54px;
    }
    .default_page {
        height: calc(100vh - 66px);
        background: #eee;
    }
    .loading_top span {
        background: url(/img/pic_loading_1.png);
        background-size: 100% auto;
    }
    .loading_top_show span {
        animation: changebg 1s linear infinite;
    }
    .loading_top_show {
        height: 80px;
    }
    @keyframes changebg{
        from {background: url(/img/pic_loading_1.png);background-size: 100% auto;}
        to {background: url(/img/pic_loading_2.png);background-size: 100% auto;}
    }
    .defalt_msg {
        .userinfo {
            span {
                width: 50px;
                height: 14px;
                background: #eee;
                margin-top:8px;
            }
        }
        .comment_content {
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
        }
    }
    .page_defalt {
        opacity: 0.8;
        transition: all 0.3s;
        overflow:hidden;
        height: 240px;
        width: 100%;
    }
    .page_defalt_none {
        opacity:0;
        height: 0;
        border: none;
    }
    .publich_comment {
        position: absolute;
        right: 12px;
        bottom: 18px;
        opacity: 0.9;
        background: #00B4BC;
        border-radius: 29px;
        // width: 93.5px;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        color: #fff;
        font-size: 16px;
        img {
            vertical-align: middle;
            margin-right: 6px;
            margin-bottom: 3px;
            width: 25px;
        }
    }
    .comment_view {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 200;
        overflow: hidden;
        .comment_desc {
            padding: 22px 12px 0;
            box-sizing: border-box;
            border-bottom: 1px solid #eee;
            text-align: center;
            overflow: hidden;
            line-height: 46px;
            font-size: 18px;
            img {
                width: 22px;
                padding: 13.5px 5px 10.5px;
                float: left;
            }
            span {
                font-size: 14px;
                padding: 5px;
                color: #FC4083;
                border: 1px solid #FC4083;
                border-radius: 50px;
                float: right;
                // opacity: 0.5;
                width: 60px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                margin-top: 8px;
            }
        }
        textarea {
            width: 100%;
            height: 220px;
            box-sizing: border-box;
            border: none;
            padding: 5px 12px;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .comment_reply {
        background: #eee;
        color: #333;
        padding-left: 12px;
        border-radius: 5px;
        font-size: 16px;
        padding: 8px;
        line-height: 24px;
        span {
            font-weight: 600;
            color: #151515;
            margin-right: 8px;
        }
    }
    .comment_list li .reply {
        overflow: hidden;
        color: #999;
        font-size: 14px;
        line-height: 20px;
        padding-top: 8px;
        font-weight:300;
        span:first-child {
            margin-right: 15px;
            vertical-align: middle;
        }
        span:last-child {
            vertical-align: middle;
            em {
                color: #00B4BB;
                width: auto;
            }
        }
        img {
            width: 17px;
            margin-right: 6px;
        }
    }
    .comment_list .comment_info span {
        line-height: 40px;
    }
    .reply_comment_content {
        padding: 8px;
        margin: 16px 12px;
        line-height: 24px;
        color: #333;
        font-size: 16px;
        background: #eee;
        border-radius: 5px;
        span {
            font-weight: 600;
            color: #151515;
            margin-right: 8px;
        }
    }