.detail_title {
        background: #FC4083;
        border: 1px solid #FC4083;
        border-radius: 3px;
        font-size: 12px;
        color: #fff;
        display: inline-block;
        padding: 3px 5px;
        margin: 8px 0 0;
    }
    .fansPages {
        width: 300px;
        margin: 0 auto;
        border: 1px solid #FC4083;
        border-radius: 3px;
        font-size: 14px;
        overflow: hidden;
        a {
            display: inline-block;
            float: left;
            width: 150px;
            text-align: center;
            color: #FC4083;
            height: 36px;line-height: 36px;
        }
        a.active {
            background: #FC4083;
            color: #fff;
        }
    }
    .video_details {
        overflow: hidden;
        padding: 3px 12px 0;
        font-size: 14px;
        .video_gcoins {
            margin-right: 7vw;
            img {
                width: 15px;
                // margin-right:3px;
            }
            i {
                display: inline-block;
                max-width: 22vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .video_comments {
            float: right;
            img {
                width: 25px;
                margin-right: 3px;
            }
        }
    }
    .video_title {
        padding: 3px 12px 5px;
        font-size: 16px;
        line-height: 24px;
        color: #333;
        .video_idol_name {
            font-weight: 600;
            margin-right: 8px;
            color: #151515;
        }
    }
    .detailPages span.bgActive {
        margin-left: calc((100vw - 24px)* 1/4 - 40px);
    }
    .video_content {
        width: 100%;
        position: relative;
            background: #000;
        #idolVideo {
            // width: 100%;
            min-width: 50%;
            max-width: 100%;
            max-height: 80vh;
            min-height: 46.5vh;
            display: block;margin: 0 auto;
        }
        .video_play {
            position: absolute;
            left: 50%;top: 50%;width: 40px;
            margin-left: -15px;margin-top: -15px;
        }
        .video_muted {
            position: absolute;
            left: 12px;bottom: 12px;width: 20px;
            z-index: 101;
        }
    }
    .swiper-slide {
        height: auto !important;
    }
    .comment_list {
        background: #fff;
        height: auto;
    }
    .detailPages {
        text-align: center;
        margin: 0 12px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
    }
    .defalt_no {
        color: #999;
    }
    .name {
        max-width: calc(100vw - 200px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
    }
    .shortName {
        max-width: calc(80vw - 180px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
    }
    .maxWidth {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }
    .income .video_money {
        max-width: calc(100vw - 166px);
    }
    .loading_top span {
        background: url(/img/pic_loading_1.png);
        background-size: 100% auto;
    }
    .loading_top_show {
        height: 80px;
    }
    .loading_top_show span {
        animation: changebg 1s linear infinite;
    }
    @keyframes changebg{
        from {background: url(/img/pic_loading_1.png);background-size: 100% auto;}
        to {background: url(/img/pic_loading_2.png);background-size: 100% auto;}
    }
    .left {
        opacity: 0;
        transition: opacity 0.3s;
     }
    .left_show {
        opacity: 1;
    }
    .defalt_msg {
        .userinfo {
            span {
                width: 50px;
                height: 14px;
                background: #eee;
                margin-top:8px;
            }
        }
        .comment_content {
            >* {

                margin-top:10px;
                background: #eee;
                height: 14px;
            }
        }
    }
    .page_defalt {
        height: auto;
        opacity: 0.8;
        transition: all 0.3s;
    }
    .page_defalt_none {
        height: 0;
        padding:0;
        opacity: 0;
        border: none;
    }
    .comment_list li .reply {
        overflow: hidden;
        color: #999;
        font-size: 14px;
        line-height: 20px;
        padding-top: 8px;
        font-weight:300;
        span:first-child {
            margin-right: 15px;
            vertical-align: middle;
        }
        span:last-child {
            vertical-align: middle;
            em {
                color: #00B4BB;
                width: auto;
            }
        }
        img {
            width: 17px;
            margin-right: 6px;
        }
    }
    img.avatar {
        width: 40px;height: 40px;
    }
    .comment_list .comment_info span {
        line-height: 40px;
    }
    .comment_reply {
        background: #eee;
        color: #333;
        padding-left: 12px;
        border-radius: 5px;
        font-size: 16px;
        padding: 8px;
        line-height: 24px;
        span {
            font-weight: 600;
            color: #151515;
            margin-right: 8px;
        }
    }
    .reply_container {
        position: absolute;
        left: 0;right: 0;top: 0;bottom: 0;height: 100vh;width: 100vw;
        z-index: 103;
        background: #fff;
    }
    .reply_header {
        text-align: center;
        position: relative;
        font-size: 18px;
        color: #666;
        background: #fff;
        line-height: 44px;
        padding: 5px 12px 7px;box-sizing: border-box;
        height: 44px;
        img {
            position: absolute;
            left: 5px;
            top: 5px;
            width: 25px;
            padding: 6px;
        }
        span {
            position: absolute;
            right: 12px;
            top: 5px;
            color: #FC4083;
            border: 1px solid #FC4083;
            border-radius: 50px;
            padding: 4.5px 20px;
            font-size: 16px;
            line-height: 22px;
        }
    }
    .reply_content {
        border: none;
        background: #fff;
        height: 180px;
        border: none;
        box-sizing: border-box;
        padding: 0 12px;
        font-size: 18px;
        width: 100%;
    }
    .reply_comment_content {
        padding: 8px;
        margin: 16px 12px;
        line-height: 24px;
        color: #333;
        font-size: 16px;
        background: #eee;
        border-radius: 5px;
        span {
            font-weight: 600;
            color: #151515;
            margin-right: 8px;
        }
    }

    .vjs_video_417-dimensions {
        height: auto !important;
        video {
            position: inherit !important;
        }
    }
    .vjs_video_3-dimensions {
        height: auto !important;
    }
    .vjs_video_375-dimensions,.vjs_video_388-dimensions {
        width: 100%;
        height: auto;
    }
    .video-js .vjs-tech {
        position: inherit !important;
    }
    .vjs-playback-rate-value {
        display: none;
    }
    .video-js.vjs-custom-skin .vjs-control-bar .vjs-fullscreen-control  {
        display: none;
    }
    .video-player .video-js.vjs-custom-skin .vjs-big-play-button {
        width: 41px !important;
        height: 41px !important;
        line-height: 41px !important;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-left: -20.5px;
        margin-top: -20.5px;
    }
    .vjs-poster {
        height: auto;width: 100%;
    }
     video::-webkit-media-controls,
        video::-moz-media-controls,
        video::-webkit-media-controls-enclosure{
        display:none !important;
    }

    video::-webkit-media-controls-panel,
    video::-webkit-media-controls-panel-container,
    video::-webkit-media-controls-start-playback-button {
        display:none !important;
        -webkit-appearance: none;
    }