<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>アイドルとファンを親密につなぐ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="og:description" content="Groupyでしかないプライベート動画！ぜひチェックしてね">
    <meta property="og:image" content="https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/optupload/%E5%85%85%E5%80%BC.jpg"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/Groupywebsite/favicon.ico" />
</head>

<body>
<div id="app"></div>
</body>

</html>
