.content {
    padding-top: 7px;
    min-height: 100vh;
    background: #ebebeb;
    text-align:center;
    box-sizing: border-box;
}
.idol_activity {
    overflow: hidden;
    padding: 7.5px 0;
}
.idol_activity li {
    width: 100%;
    box-sizing: border-box;
    padding: 0 4px;
    position: relative;
    margin-bottom: 6px;
}

.idol_activity li .activity_content {
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
     border-radius: 4px;
}

.activity_banner {
    width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
}
.activity_status,.activity_status_tips {
    position: absolute;
    left: 0;top: 8px;
    width: 51.05px;
    color: #fff;
    letter-spacing: 0.79px;
    line-height: 20px;
}
.activity_purpose {
    padding-top: 6.35px;
    font-weight: 600;
    font-size: 14px;
    color: #fc4083;
    background: #fff;
}
.activity_begin {
    padding-top: 6.35px;
    font-weight: 600;
    font-size: 16px;
    color: #fc4083;
    background: #fff;
}
.activity_beigin_purpose {
    color: #666;
}
.page_defalt {
    transition: all 0.3s;
    padding-top: 0;
    height: 320px;
    overflow: hidden;
    padding: 0 4px;
    li {
        background: #FFF;
        padding: 12px 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    }
    p {
        background: #eee;
        height: 18px;
        line-height: 18px;
        &:first-child {
            margin-bottom: 8px;
            width: 85%;
        }
    }
}
.page_defalt.active {
    height: 0;
}



.allRaning-list {
    display: flex;
    align-items: flex-end;
    text-align: center;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0 0 4px 4px;
    .idol-content {
        flex: 1;
        overflow:hidden;
    }
}
.avatar-content {
    position: relative;
    padding-top: 14px;
    padding-bottom: 27px;
    width: 70px;
    margin: 0 auto;

}
.ranking1 {
    position: absolute;
    bottom: 0;
    width: 104px;
    left: 0;
}
.ranking2 {
    width: 100%;
    font-family: 'Helvetica Condensed Bold Italic';
    color: #666666;
    font-size: 14px;
}
.avatar {
    background-image:url(https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow:hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: none;
    display: block;
}
.crown {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
}
.introduction {
    float: none;
    width: 100%;
}
.name {
    font-weight: 600;
    font-size: 18px;
    text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.detail {
    color: #FC4083;
    font-weight: 600;
    font-size: 15px;
    >* {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 20px;
        margin-right: 3px;
    }
    em {
        padding-top: 2px;
    }
}
.allRaning-list .idol-content-1 {
    width: 100px;
    flex: 1.1;
    .crown {
        width: 30px;
    }
    .avatar-content {
        width: 100px;
        padding-top: 15px;
        padding-bottom: 18px;
    }
    .avatar {
        width: 98px;
        height: 98px;
        border:1px solid #FC4083;
    }
}
