.cursor {
    cursor: pointer;
}
@font-face {
    font-family: 'Helvetica Condensed Bold Italic';
    src: url('/font/Helvetica Condensed Bold Italic.eot');
    src: url('/font/Helvetica Condensed Bold Italic.woff2') format('woff2'),
         url('/font/Helvetica Condensed Bold Italic.eot?#iefix') format('embedded-opentype');
}
.header {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    z-index: 1;
    .detail {
        padding: 0 12px;
        height: 54px;
        line-height: 54px;
        .back {        
            position: absolute;
            display: block;
            left: 12px;
            height: 12px;
            top: (54px-22px)/2;
            img {
              width: 22px;
              display: block;  
            }
        }
    }
    .detailPages {
        border-bottom: 1px solid #FC4083;
        padding: 0 12px;
        overflow: hidden;
        display: flex;
        height: 41px;
        line-height:28px;
        padding: 6px 0;
        box-sizing: border-box;
        a {
            color: #FC4083;
            display: block;
            flex: 1;
            margin: 0 7.5%;
        }
        .active {
            background: #FC4083;
            border-radius: 50px;
            color: #fff;
        }
    }
}
.content {
    position: absolute;
    top: 41px;
    height: calc(100vh - 41px);
    overflow: auto;
    left: 0;
    width: 100%;
    overflow-x: hidden;
}
.detail_title {
    font-size: 14px;
    border-left: solid 3.5px #666;
    padding-left: 7.5px;
    height: 20px;
    line-height: 20px;
}
img.icon {
    width: 23.75px;
}

.eBorder {
    border-bottom: 8px solid #eee;
 }
.detail_title {
    padding: 0 12px;
    margin-bottom: 12px;
    margin-top: 10.5px;
    font-size: 14px;
}
.income {
    display: flex;
    line-height:25px;
    padding: 13px 12px;
    overflow: hidden;
    >span{
        float: left;
        img {
            float: left;
            margin-right: 6.1px;
        }
        &:first-child {
            margin-right: 5%;
        }
        &:nth-child(2) {
            padding-top: 9px;
        }
    }
    .video_money {
        font-size: 18px;
        color: #666;
        font-style: normal;
        transition: opacity 0.3s;
        opacity: 0.2;
    }
    .video_money_show {
        opacity: 1;
    }
    p{
         flex: 1;
         overflow: hidden;
         .detail_title {
            display: block;
            min-width: 100px;
         }
         &:first-child {
            border-right: 1px solid #e2e2e2;
         }
         &:last-child {
            padding-left: 12.25px;

         }
         .detail_gcoin {
            display: block;
            margin-left: 45px;
            overflow: hidden;
            img {
                float: left;
                margin-right: 5.5px;
                width: 25px;
            }
         }
    }
}
.income_details {
    padding: 0 12px;
    ul {
        padding-top: 7.5px;
        padding-bottom: 8px;
        overflow: hidden;
        // border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    li {
        float: left;
        width: calc((100vw - 64px)/4);
        max-width: 109px;
        // border: 1px solid #E0E0E0;
        border-radius: 2px;
        margin-bottom: 12px;
        position: relative;
        &:not(:nth-child(4n-3)) {
            margin-left: 10px;
        }
        >img {
            // background: #f9f9f9;
            width: 100%;
            display: block;
            margin: 0 auto;
            width: 78px;
            // padding: 11.5px 8.5px;
            border-radius: 5px;
        }
        @media screen and (max-width: 400px) {
            >img {
                padding: 11.5px 5px;
            }
        }
        p {
            overflow: hidden;
            // max-width: 86px;
            color: #666;
            text-align: center;
            font-size: 14px;
            height: 21px;
            overflow: hidden;
        }
        .gif_price {
            position: absolute;
            bottom: 25px;
            left: 0;
            height: 13.3px;
            line-height: 13.3px;
            width: 100%;
            text-align: center;
            img {
                width: 13.3px;
                margin-right: 4.35px;
            }
        } 
    }
}
.fans_detail {
    padding: 12px 0;
    .detail_title {
        margin: 10.5px 12px 12px;
    }
    .fans_list {
        padding-top: 7.5px;
        padding-bottom: 30px;
        li {
            height: 30px;
            line-height: 30px;
            padding: 12px 0;
            border-top: 1px solid #F0F0F0;
            &:last-child {
                border-bottom: 1px solid #F0F0F0;
            }
        .fans_img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: left;
        }
        p {
            float: left;
            padding-left: 11px;

        }
        span {
            float: right;
            color: #666;
        }
        }
    }
 }
.level {
    float: left;
    width: 20.5px;
    height: 11px;
    margin-top: 9.5px;
    margin-right: 3px;
}
img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    float: left;
}
.likes {
    width: 12.55px;
    height: 11.2px;
}
.comment_list {
    background: #eee;
    li {
        padding: 12px;
        background: #fff;
        overflow: hidden;
        border-bottom: 1px solid #EBEBEB;
        line-height: 30px;
        i {
            float: right;
            color: #666;
            overflow: hidden;
            width: 18%;
            height: 13.3px;
            line-height: 13.3px;
            margin-top: (30px-13.3px)/2;
            img {
                float: left;
                width:13.3px;
                margin-right: 4.85px;
            }
        }
        span {
            float: left;
            margin-right: 10px;
            min-width: 25px;
            &:first-child {
                text-align: center;
                img {
                    width: 25px;
                    vertical-align: middle;
                }
                i {
                    width: 100%;
                    font-size: 18px;
                    color: #CCCCCC;
                }
            }
        }
        >span.level_color {
            font-size: 18px;
            color: #ccc;
        }
        &:first-child {
            >span.level_color {
                color: #FABC01;
            }
        }
        &:nth-child(2) {
            >span.level_color {
                color: #999;
            }
        }
        &:nth-child(3) {
            >span.level_color {
                color: #FF8500;
            }
        }
    }
    .idol_comment {
        background: #FFF0F6;
        .userinfo {
            >span {
                color: #FC4083;
            }
        }
    }
    .comment_info {
        overflow: hidden;
        height: 30px;
        line-height: 30px;
        color: #666;
        i {
            float: right;
            width: 30%;
            text-align: right;
            color: #999;
        }
    }
    div.userinfo {
        overflow: hidden;
        box-sizing: border-box;
        img.avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 9px;
            float: left;
        }
        i {
            color: #999;
        }
    }
    .comment_img {
        overflow: hidden;
        span {
            display: block;
            box-sizing: border-box;
            float: left;
            width: 30%;
            // height: calc((100vw - 93px)/3);
            overflow: hidden;
            max-height: 132px;
            border-radius: 4px;
            // border: 1px #ddd solid;
            &:last-child {
                margin-right: 0;
            }
            .autoWidth {
                height: calc((100vw - 93px)/3);
                width: auto;
            }
            .autoHeight {
                width: 100%;
                height: auto;
            }
        }
        .oneImg {
            width: 100%;
            height: calc((100vw - 93px)*3/4);
            max-height: 437px * 3/4;
            .autoWidth {
                height: calc((100vw - 93px)*3/4);
                max-height: 437px * 3/4;
                width: auto;
            }
            .autoHeight {
                width: 100%;
                height: auto;
            }
        }
    }
    div.comment_content {
        padding: 0 0 0 39px;
        font-size: 16px;
        color: #2F2F2F;
        // margin-top: 5px;
        a {
            overflow: hidden;
            display: block;
        }
        img {
            display: block;
            border-radius: 4px;
            margin: 0 auto;
        }
    }
    .comment_desc {
        color: #888;
        font-size: 14px;
        overflow: hidden;
        img {
            width: 20px;
            margin-right: 9.5px;
        }
        span:first-child {
            margin-right: 30px;
        }
        span:last-child {
            float: right;
            img:first-child {
            margin-right: 16px;
            }
            img:first-child {
            margin-right: 0;
            }
        }
    }
}
.publish {
    padding: 8px 12px; 
    overflow: hidden;
    span:first-child {
        color: #A5A5A5;
        font-size: 12px;
        i {
            font-size: 16px;
            color: #666666;
            padding-left:14px;
        }
    }
    .right {
        float: right;
        border: 1px solid #666666;
        border-radius: 4px;
        width: 136.5px;
        height: 36px;
        line-height: 36px;
        color: #666;
        font-size: 14px;
        display: block;
        text-align: center;
    }
}

.swiper-slide {
    // max-height: calc(100vh - 41px);
    height: calc(100vh - 41px);
    overflow: auto;
}

.top3 {
        display: flex;
        padding: 7.5px 12px 12px;
        box-sizing: border-box;
        color: #666;
        li {
            flex: 1;
            text-align: center;
            font-size: 14px;
            div {
                position: relative;
            }
            .crown {
                width: 77.5px;
                height: 69px;
            }
            .idol_img {
                 width: 60px;
                 height: 60px;
                 border-radius: 50%;
                 position: absolute;
                 left: 50%;
                 top: 50%;
                 margin: -33px 0 0 -30px; 
            } 
            &:not(:nth-child(2)) {
                .idol_num {
                    padding-top: 14px;
                    font-size: 24px;
                    font-weight: 600;
                    padding-bottom: 7px;
                }
                .idol_img {
                     width: 45px;
                     height: 45px;
                     margin: -24.5px 0 0 -22.5px;  
                }
                .crown {
                     width: 59.5px;
                     height: 54.5px;
                }  
            }
            .idol_name {
                margin-bottom: 9.5px;
            }
            >span {
                display: block;
                font-size: 12px;
                vertical-align: middle;
                height: 13px;
                line-height: 13px;
                img {
                    margin-right: 3px;
                    width: 15px;
                    vertical-align: middle;
                }
            }
        }
    }
    .all_ranking {
        border: 1px solid #999999;
        border-radius: 50px;
        width: 74px;
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-bottom: 12px;
    }
    .integral {
        padding: 12px;
        border-bottom: 8px #eee solid;
        >p:first-child {
            overflow: hidden;
            box-sizing: border-box;
            padding-bottom: 6px;
            >span:first-child {
                display: inline-block;
                padding-left: 5.5px;
                border-left: solid #666 3.5px;
                margin-right: calc(50% - 100px);
            }
            >span:last-child {
                color: #666;
                img {
                    width: 15px;
                    vertical-align: middle;
                    margin-right: 4.5px;
                    margin-left: 12px;
                }
                i {
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                }            
            }
        }
        >p:last-child {
            color: #999;
            text-align:center;
        }
    }
    .help {
        padding: 15px 12px 0;
        h4 {
            font-size:14px;
            color: #666;
        }
        .help_list {
            li {
                font-size: 14px;
                padding: 16px 0;
                span {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: #ebebeb;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 24px;
                    margin-right: 18px;
                }
            }
        }
    }
    .rule_tile {
        background: #EEEEEE;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #FC4083;
        text-align: center;
    }
    .rule_content {
        font-size: 14px;
        line-height: 24px;
        padding: 15px 12px 8px;
        color: #666;
        >* {
            padding-bottom: 8px;
        }
        i {
            color: #FC4083;
        }
        >p:first-child {
            text-indent: 14px;
        }
        h4 {
            color: #333;
            font-weight: 600;
            // padding: 10px 0;
            span {
                display: inline-block;
                width: 11.5px;
                height: 11.5px;
                background: #666;
                margin-right: 9.5px;
            }
        }
    }
    .rule_2 {
        padding-left: 40px;
    }
    .default_page {
        text-align: center;
        padding-top: 60px;
        box-sizing: border-box;
        img {
            margin-bottom: 20px;
            width: 120px;
        }
        p {
            font-size: 14px;
            color: #999;
        }
    }
    .loading {
        position: relative;
        // padding: 5px;
        height: 0;
        bottom: 0;
        overflow: hidden;
        transition: height 1s;
        -moz-transition: height 1s; /* Firefox 4 */
        -webkit-transition: height 1s;  /* Safari 和 Chrome */
        -o-transition: height 1s;
        p {
            color: #999;
            text-align: center;
            padding: 10px 0;
            box-sizing: border-box;
            img {
                width: 20px;
                transform:rotate(360deg);
                animation: rotation 1.4s linear infinite;
                vertical-align: middle;
                margin-right: 5px;
            }
            &:last-child {
                padding-top: 0px;
            }
        }
    }
    .loading_show {
        height: 78px;
    }

    @keyframes rotation{
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    
    @keyframes rotationTop{
        from {top: 0;}
        to {top: -20px;}
    }

    .loading_top {
        position: relative;
        // margin: 5px auto;
        text-align: center;
        overflow: hidden;
        color: #999;
        // display: none;
        height: 0;
        background: #eee;
        // animation: rotationTop 0.5s linear;
        transition: height 1s;
        -moz-transition: height 1s; /* Firefox 4 */
        -webkit-transition: height 1s;  /* Safari 和 Chrome */
        -o-transition: height 1s;
        p {
            padding: 3px;
        }
        span {
            width: 90.5px;
            height: 47.5px;
            display: block;
            margin: 0 auto;
        }
    }
    .bigLoading {
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        background: rgba(0,0,0,0.2);
         z-index: 3;
        img {
            width: 45px;
            margin-top: calc(50vh - 22.5px);
             animation: rotation 1.8s linear infinite;
        }
    }
     .my-scroller .pull-to-refresh-layer .spinner-holder,.my-scroller .loading-layer .spinner-holder svg
  {
    visibility: hidden;
  }
.my-scroller .pull-to-refresh-layer,.my-scroller .loading-layer .spinner-holder{
    background-image: url(/img/pic_loading_1.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width:  90.5px !important;
    height: 47.5px !important;
    margin:  0 auto;
    border-radius: 50%;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    opacity: 0;
    /* height:  80px !important; */
  }
  .my-scroller .pull-to-refresh-layer.active,.my-scroller .loading-layer .spinner-holder.active {
    background-image: url(/img/pic_loading_2.png);
    opacity: 1;
    animation: changebg 1s linear infinite;
  }
  @keyframes changebg{
    from {background-image: url(/img/pic_loading_1.png);}
    to {background-image: url(/img/pic_loading_2.png);}
  }
    .my-scroller .pull-to-refresh-layer {
        margin-top:  -47.5px !important;
    }
    .my-scroller .loading-layer .spinner-holder {
        margin-top: 20px;
    }
