    .header {
        border-color: #eee;
        background: #eee;
        // box-shadow: 0 1.5px 1.5px 0 rgba(0,0,0,0.10);
    }
    .content {
        padding-top: 51px;
    }
    .detailPages {
        border: 1.5px solid #FC4083;
        border-radius: 4px;
        margin: 8px 12px;
        height: 35px;
        line-heigth: 32px;
        padding: 0;
        a {
            margin: 0;
            color: #FC4083;
            &:not(:first-child) {
                border-left: 1.5px solid #FC4083;
            }
        }
        .active {
            border-radius: 0;
            color: #fff;
        }
    }
    .detailPages span.bgActive {
        margin-left: 0;
        height: 32px;
        line-height: 32px;
        width: 33.33333%;
    }
    h3.title {
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        color: #999999;
        background: #eee;
        padding-left: 12px;
        box-sizing: border-box;
    }
    .not_concerned {
        width: 100%;
        border-bottom: 4px #eee solid;
        box-sizing: border-box;
        img {
            width: 100%;
            display: block;
        }
    }
    .border_bottom {
        border-bottom: 4px #eee solid;
    }
    .idol_detail {
        color: #666;
        margin: 7px 8px;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
        border-radius: 4px;
        padding: 3px 0;
        .name {
            color: #333;
            font-weight: 600;
        }
    }
    .idol_detail.no1 {
        margin-top: 0;
        padding-left: 14px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .idol_detail.no1 .idol_content {
        padding: 0;
        .idol_border {
            width: calc(100vw - 37px);
        }
        .support {
            margin-top: 45px;
        }
        .avatar_content {
            padding: 8px 0 16px;
            .avatar {
                width: 100px;
                height: 100px;
                border: #FC4083 1.5px solid;
                img {
                    width: 100px;
                    min-height: 100px;
                }
            }
            .crown {
                width: 25px;
            }
        }
        .introduction {
            margin-top: 18px;
            width: calc(100vw - 210px);
            .fans_imgList {
                margin-top: 3.3px;
            }
            .fans_list {
                border-top: none;
                padding: 0;
                span:nth-child(1) {
                    margin-left: 0;
                }
            }
        }
    }
    .ranking1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 104px;
    }
    .avatar_content {
        overflow: hidden;
        float: left;
        position: relative;
        padding: 6.5px 0 0 0;
        .crown {
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
        }
    }
    .idol_content {
        box-sizing: border-box;
        overflow: hidden;
        padding: 0 7px;
        >* {
            float: left;
        }
        i {
            font-family: 'Helvetica Condensed Bold Italic';
            font-size: 21px;
            color: #00B4BB;
            width: 20px;
            height: 85px;
            line-height: 85px;
            text-align: left;
        }
        ._fir {
            color: #F3B714;
        }
        ._sec {
            color: #888;
        }
        ._thr {
            color: #FF8500;
        }
        .sizeTwo {
            font-size: 16px;
        }
        .sizeThree {
            font-size: 10px;
            -webkit-transform: scalc(0.8);
        }
        .avatar {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 6px;
            float: left;
            display: block;
            overflow: hidden;
            img {
                width: 70px;
                min-height: 70px;
            }
        }
        .idol_border {
            overflow: hidden;
            // padding-right: 12px;
            width: calc(100vw - 50px);
        }
        .introduction {
            width: calc(100vw - 190px);
            float: left;
            margin-top: 6.5px;
            .name {
                font-size: 18px;
                text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
            }
            .name.none {
                line-height: 30px;
            }
            .signature {
                // font-size: 10.5px;
                // -webkit-transform: scale(0.8);
                // margin-left: -18px;
                text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
            }
            .detail {
                font-size: 12px;
                display: flex;
                span {
                    flex: 1;
                    img {
                        width: 20px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    em {
                        display: inline-block;
                        max-width: calc((100vw - 215px);
                        text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
                    }
                }
            }
            .detail.none {
                line-height: 30px;
            }
        }
        .support {
            float: left;
            width: 57.7px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #00B4BC;
            float: right;
            border: 1.5px solid #00B4BC;
            border-radius: 27px;
            margin-top: 27px;
        }
    }
    .fans_list {
        border-top: 1px #eee solid;
        padding: 6px 0 3px 7px;
        color: #999;
        .fansRanking_tips {
            width: 86px;
            display: inline-block;
            vertical-align: middle;
            text-align: right;
        }
        span {
            margin-left: 4px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            vertical-align: middle;
            overflow: hidden;
            display: inline-block;
            img {
                width: 25px;
                min-height: 25px;
            }
        }
        .no_fans {
            font-size: 10px;
            -webkit-transform: scale(0.8);
            display: inline-block;
        }
        .fans_imgList {
            display: inline-block;
        }
    }
    .con_left {
        opacity: 0.2;
        transition: opacity 0.3s;
     }
    .left_show {
        opacity: 1;
    }
    .fans_show {
        padding: 0;
        height: 41px;
        transition: opacity 0.3s;
        opacity: 0.2;
        line-height: 41px;
    }
    .page_none {
        overflow: hidden;
        height: 310px;
        transition: height 0.3s;
    }
    .fans_none {
        height: 0;
        opacity: 0;
    }
    .page_none .idol_detail {
        padding: 12px;
        p {
            width: 100%;
            height: 18px;
            margin-top: 8px;
            background: #eee;
        }
        p:first-child {
            margin-top: 0;
            width: 60%;
        }
    }
