.content {
    padding-top: 0;
    min-height: 100vh;
}
.ranking-all {
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    display: block;
    margin: 6px 4px;
}
.allRaning-list {
    display: flex;
    align-items: flex-end;
    .idol-content {
        flex: 1;
        overflow:hidden;
    }
}
.avatar-content {
    position: relative;
    padding-top: 14px;
    padding-bottom: 27px;
    width: 70px;
    margin: 0 auto;

}
.ranking1 {
    position: absolute;
    bottom: 0;
}
.ranking2 {
    width: 100%;
    font-family: 'Helvetica Condensed Bold Italic';
    color: #666666;
    font-size: 14px;
}
.avatar {
    background-image:url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow:hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: none;
    display: block;
}
.crown {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
}
.ranking-title {
    position: relative;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 17px;
    >span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 6px;
        padding-top: 2px;
    }
}
.ranking-nums {
    width: 21px;
}
.arrow-right {
    position: absolute;
    right: 6.5px;
    height: 12px;
    top: 5px;
}
.introduction {
    float: none;
    width: 100%;
}
.name {
    font-weight: 600;
    font-size: 18px;
    text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.detail {
    color: #FC4083;
    font-weight: 600;
    font-size: 15px;
    >* {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 20px;
        margin-right: 3px;
    }
    em {
        padding-top: 2px;
    }
}
.allRaning-list .idol-content-1 {
    width: 100px;
    flex: 1.1;
    .crown {
        width: 30px;
    }
    .avatar-content {
        width: 100px;
        padding-top: 15px;
        padding-bottom: 18px;
    }
    .avatar {
        width: 98px;
        height: 98px;
        border:1px solid #FC4083;
    }
}
