.content {
        min-height: 100vh;
        padding-top: 0;
    }
    .maxWidth {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }
 .mention_details {
    .detail_title {
        margin-left:12px;
    }
    .mention_list {
        overflow: hidden;
        line-height: 36px;
        li {
            margin: 0 12px;
            padding: 16px 0 14px;
            overflow: hidden;
            display: flex;
            box-sizing: border-box;
            font-size: 14px;
            color: #666;

            &:first-child {
                color: #FC4083;
                font-size: 12px;
                border-bottom: 1px solid #FC4083;
            }
            &:not(:first-child) {
                border-bottom: 1px solid #e2e2e2;
            }
            p {
                flex: 1;
                height: 20px;
                line-height: 20px;
                text-align: center;
                // &:nth-child(2) {
                //     flex: 2;
                // }
            }
            img {
                width: 14px;
                margin-right: 6px;
                vertical-align: middle;
            }
        }
    }
 }
 .income_desc {
    background: #eee;
    color: #999;
    padding: 3px 12px;
    line-height: 20px;
 }
 .reflect_desc {
    display: block;
    margin: 14px auto 29px;
    width: 150px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #999999;
    border-radius: 50px;
    color: #666;
    text-align: center;
 }
 .income_img_vip {
    li {
        width: calc((96.8vw - 24px)/2);
        max-width: 232px;
    }
    li:not(:nth-child(4n-3)) {
        margin-left: 0;
    }
    li:not(:nth-child(2n-1)) {
        margin-left: 3.2vw;
    }
 }
 .meeting_content {
    background: url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/Live/bg_ticket.png) no-repeat center center;
    background-size: 100%;
    width: 160px;
    height: 80px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 3px;
    padding: 10px 0;
    box-sizing: border-box;
 }
 .meeting_tips {
    position: relative;
    height: 30px;
    line-height: 30px;
    em {
        padding: 0 5px;
    }
    >* {
       display: inline-block;
       vertical-align: middle;
    }
    span {
        width: 20px;
        height: 1px;
        background: #fff;
    }
 }
 .meeting_gcoins {
    height: 30px;
    line-height: 30px;
    img {
        width: 14px;
        margin-right: 4.5px;
    }
 }
 .left {
    opacity: 0.2;
    transition: opacity 0.3s;
 }
.left_show {
    opacity: 1 !important;
}
