    .content {
        background-image: linear-gradient(140deg, #FFCC54 6%, #FF927C 100%);   
    }
    h2 {
        font-size: 16px;
        color: #fff;
        background: none;
        text-align: center;
        font-weight: 300;
        width: 143px;
        margin: 0 auto;
        position: relative;
        margin-top: 5px;
        span {
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #fff;
            top: 50%;
        }
    }
    .ranking_list {
        padding: 12px 12px 0;
        li {
            overflow: hidden;
            text-align: center;
            border-bottom: 1px solid #eee;
            // padding: 10px 12px;
            background-color: #FFF5F7;
            border: 2px solid #FFB2C7;
            border-radius: 8px;
            margin-bottom: 10px;
            .idolranking_content {
                overflow: hidden;
            }
            .idolranking_content >* {
                float: left;
            }
            .img_content {
                width: 71.5px;
                height: 68px;
                position: relative;
                padding-top: 8.5px;
                margin-right: calc(100vw * 0.04);
                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto;
                    float: none;
                    border: 1px solid #888;
                    overflow: hidden;
                    img {
                        width: 50px;
                        min-height: 50px;
                    }
                }
                img.crown {
                    position: absolute;
                    left: 7px;
                    top: 0;
                    width: 25px;
                }
                span.idol_level {
                    width: 71.5px;
                    height: 20px;
                    line-height: 20px;
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    text-align: center;
                    font-size: 11px;
                    -webkit-transform: scale(0.85);
                    color: #FFFFFF;
                    font-weight: 600;
                }
                img.ranking_pic {
                    width: 71.5px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

            }
            .name {
                font-size: 16px;
                font-weight: 600;
                text-align: left;
                margin-top: 8px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            .idol_content {
                overflow: hidden;
                width: calc(100% - 90px);
                max-width: 305px;
            }
            .idol_desc {
                display: flex;
                overflow: hidden;
                margin-top: 8px;
                width: 100%;
                p {
                    flex: 1.5;
                    text-align: left;
                    overflow: hidden;
                    line-height: 24px;
                    >span {
                        display: inline-block;
                        text-align: center;
                        overflow: hidden;
                        float: left;
                        vertical-align: middle;
                        img {
                            width: 12px;
                            float: left;
                            margin-top: 6px;
                            margin-right: 5.5px;
                        }
                        em {
                            display: inline-block;
                            font-size: 16px;
                            float: left;
                            font-weight: 600;
                            color: #333;
                            max-width: calc(22vw - 31px);
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                    }
                    i {
                        display: inline-block;
                        float: left;
                        color: #333;
                        font-size: 12px;
                        margin-left: 8px
                    }
                }
                p:first-child {
                    flex: 2.5;
                    >span {
                        em {
                            max-width: calc(34vw - 16px);
                            color: #FB0730;
                        }
                    }
                }
            }
        }
        li:first-child {
            background-image: url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/activity/pic_1.png);
            background-size: 100% auto;
            background-position: center center;
            background-repeat: no-repeat;
            .img_content {
                width: 103.5px;
                height: 114px;
                padding-left: 0;
                padding-top: 12px;
                float: none;
                margin: 0 auto;
                .avatar {
                    width: 90px;
                    height: 90px;
                    border: 2px solid #f8a50d;
                    overflow: hidden;
                    img {
                        width: 90px;
                        min-height: 90px;
                    }
                }
                img.ranking_pic {
                    width: 103.5px;
                }
                img.crown {
                    width: 38px;
                    left: 3px;
                }
                span.idol_level {
                    bottom: 17px;
                    width: 103.5px;
                    font-size: 14px;
                    -webkit-transform: scale(1);
                }
            } 
            .name {
                float: none;
                text-align: center;
            }
            .idol_desc {
                float: none;
                 p {
                    text-align: center;
                   flex: 1;
                    span,em,i {
                        float: none;
                    }
                 }
            }
        }
        .reard_moer {
            text-align: center;
            text-decoration: underline;
            color: #666;
            font-size: 14px;
            display: inline-block;
            padding: 12px 0 0;
            float: none;
            color: #999;
        }
    }
    .read_videos {
        background: #FFFFFF;
        border-radius: 69px;
        height: 36px;
        line-height: 36px;
        width: 136.5px;
        margin: 0 atuo;
        font-size: 14px;
        color: #666;
        margin: 15px auto;
        text-align: center;
    }
.avatar-content {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 auto 10px;
        display: block;
        // vertical-align: middle;
        img:last-child {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-sizing: border-box;
            border: 1px solid #FC4083;
        }
        img:first-child {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 15px;
        }
    }
    .idolName-content {
        display: block;
        margin: 0 auto;
        max-width: calc(50vw - 90px);
        span {
            display: block;
            text-align: center;
            img {
                width: 12px;
                margin-right: 5px;
            }
        }
        span,i {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        i {
            max-width: calc(33.33333vw - 18px);
            display: inline-block;
            vertical-align: middle;
        }
        @media screen and (min-width: 500px) {
            i {
                max-width: 120px;
            }
            span {
                max-width: 140px;
            }
        }
    }
    .ranking-download {
        width: 100px;
        height: 25px;
        line-height: 25px;
        border-radius:25px;
        font-size: 14px;
        margin: 17px auto 0;
    }
    .ranking-idol-content {
        padding: 10px 12px 0;
    }
    .ranking-fans-content {
        display: flex;
        border-top: 1px solid #FFB2C6;
        margin-top: 12px;
        padding: 12px;
    }
    .ranking-idol {
        flex: 1;
        text-align: ceter;
    }
    .fans-likes-ranking {
        text-align: center;
        padding-bottom: 10px;
        a {
            display: inline-block;
            border: 1px solid #FC4083;
            border-radius: 25px;
            font-size: 14px;
            color: #FC4083;
            height: 25px;
            line-height: 25px;
            padding: 0px 12px;
        }
    }