<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Groupyと【可楽生活】のコラボ企画</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="og:description" content="上位1が大人気雑誌に登場？！動画がいっぱい投稿されているので、応援しよう">
    <link rel="shortcut icon" type="image/x-icon" href="http://photodebug.oss-cn-hongkong.aliyuncs.com/acticity_banner/banner-coke.jpg" />
</head>

<body>
<div id="app"></div>
</body>

</html>